@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css'; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* .header{
  font-size: 35px;
  background-color: brown;
  height:10vh;
}


.folderIcon {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.folder {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #3f51b5;
  border-radius: 8px;
  margin-bottom: 8px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.back {
  height: 32px;
  width: 48px;
  margin: 4px auto;
}

.folderText {
  font-size: 14px;
  font-weight: bold;
} */

.lesson{
  display:none;
}

.stroke{
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #785700;

}

/* .header{
  background: rgba(0,0,0,0.5);
  opacity: 0.5;
  backdrop-filter: blur(40px);
} */


.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

.hiddenScrollbar>*::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar for children */
}

.hiddenScrollbar>* {
  -ms-overflow-style: none;

  scrollbar-width: none;

}
.hiddenScrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;

}

[title] {
    text-decoration-line: underline;
      text-decoration-style: dashed;
  /* Underline the text */
  /* cursor: pointer; */
  /* Change cursor to pointer */
}


/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 2px;
  /* Width of the vertical scrollbar */
  height: 2px;
  /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Roundness of the scrollbar handle */
  border: 2px solid transparent;
  /* Optional: adds space around the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Handle color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-width: 2px; */
  /* Makes the scrollbar thinner */
  scrollbar-color: #888 #f1f1f1;
  /* Scrollbar color */
}