/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.header{
  /* font-size: 35px; */
  background-color: brown;
  /* height:10vh; */
}

/* styles/OneDriveFolderIcon.module.css */
.folderIcon {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.folder {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #3f51b5;
  border-radius: 8px;
  margin-bottom: 8px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.back {
  height: 32px;
  width: 48px;
  margin: 4px auto;
}

.folderText {
  font-size: 14px;
  font-weight: bold;
}